@model ShoppingCart
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Check-out</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Check-out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        @if (Model == null)
        {
            <section class="section-b-space light-layout">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="success-text">
                                <h2>No orders are available.</h2>
                                <p>Currently you have no orders to track</p>
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Add New Order?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
        <div class="checkout-page">
            <div class="checkout-form">

                <div asp-validation-summary="All"></div>

                <form  class="forms-sample" method="post" enctype="multipart/form-data"
                      asp-controller="Order" asp-action="OrderSuccess" role="form">
                    >
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Billing Details</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">First Name</div>
                                    <input asp-for="shippingInfo.firstName" type="text" placeholder="">
                                    <span asp-validation-for="shippingInfo.firstName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Last Name</div>
                                    <input asp-for="shippingInfo.lastName" type="text" placeholder="">
                                    <span asp-validation-for="shippingInfo.lastName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Phone</div>
                                    <input type="text" asp-for="shippingInfo.phoneNo" placeholder="" required>
                                    <span asp-validation-for="shippingInfo.phoneNo" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Country</div>
                                    <input type="text" asp-for="shippingInfo.Country" placeholder="" required>
                                    <span asp-validation-for="shippingInfo.Country" class="text-danger"></span>

                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Town/City</div>
                                    <input type="text" asp-for="shippingInfo.city" placeholder="">
                                    <span asp-validation-for="shippingInfo.city" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Address</div>
                                    <input type="text" asp-for="shippingInfo.Address" placeholder="Street address">
                                    <span asp-validation-for="shippingInfo.Address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">Department Number</div>
                                    <input type="number" asp-for="shippingInfo.DeptNo" placeholder="">
                                    <span asp-validation-for="shippingInfo.DeptNo" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Product  <span>Total</span> <span>Quantity</span> </div>
                                    </div>

                                    <ul class="qty">
                                        <!--repeat here item li -->
                                        @foreach (var item in Model.lstItems)
                                        {

                                            <li>@item.ItemName <span>$ @item.Total</span> <span>@item.qty</span> </li>
                                        }


                                    </ul>

                                    <ul class="sub-total">
                                        <li>Subtotal <span class="count">$ @Model.Total</span></li>
                                    </ul>
                                    
                                    <ul class="total">
                                        <li>Total Price<span class="count">$ @(Model.Total + 50)</span></li>
                                    </ul>
                                </div>
                                <div class="payment-box">
                                    
                                    <div class="text-right"><button type="submit" class="btn-solid btn">Place Order</button></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="shippingInfo.shippingInfoId" />
                    <input type="hidden" asp-for="shippingInfo.userId" />
                </form>
            </div>
        </div>
        }
    </div>
</section>
<!-- section end -->
@section jqueryValidation{
    <!--j-query validation-->
    <script src="~/Admin/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Admin/vendors/jquery.validate.unobtrusive.min.js_3.2.11/cdnjs/jquery.validate.unobtrusive.min.js"></script>
    <!--j-query validation-->
}