@model List<CheckoutPageViewModel>

 <!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's Orders</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">


        @if (Model == null)
        {
                <section class="section-b-space light-layout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="success-text">
                                   <h2>No orders are available.</h2>
                                    <p>Currently you have no orders to track</p>
                                   <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Add New Order?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        }


        else
        {

        <!--loop here-->
        @foreach (var order in Model)
        {
            @foreach (var invoice in order.salseInvois)
            {
                <div class="row" style="margin-bottom:150px">
                    <div class="col-lg-6">

                        <div class="product-order">

                            <h3>order no :@invoice.InvoiceId </h3>

                            
                          
                            <!--loop through div class row prod order detail-->
                            @foreach (var orderedItem in order.VwList)
                            {
                                if(invoice.InvoiceId == orderedItem.InvoiceId)
                                {
                                <div class="row product-order-detail">
                                    <div class="col-3">
                                        @{
                                            if (!string.IsNullOrEmpty(orderedItem.ImageName))
                                            {
                                                <img src="~/FrontEnd/images/imageLap/@orderedItem.ImageName" alt=""
                                                     class="img-fluid blur-up lazyload">


                                            }
                                            else
                                            {
                                                <img src="~/Website/images/pro3/1.jpg" alt=""
                                                 class="img-fluid blur-up lazyload">

                                                }


                                            }

                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>product name</h4>
                                            <h5>@orderedItem.ItemName</h5>
                                        </div>
                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>quantity</h4>
                                            <h5>@orderedItem.Qty</h5>
                                        </div>
                                    </div>
                                    <div class="col-3 order_detail">
                                        <div>
                                            <h4>price</h4>
                                            <h5>$ @orderedItem.InvoicePrice</h5>
                                        </div>
                                    </div>
                                    </div>

                                  
                                }
                                else
                                {
                                    
                                }
                               

                            }

                            
                            @foreach(var sum in order.salseInvoisSum)
                            {
                                if(sum.InvoiceId == invoice.InvoiceId)
                                {
                                      <div class="final-total">
                                <h3>total Quantity <span>@sum.sumqty</span></h3>
                            </div>
                            <div class="final-total">
                                <h3>total Price <span>$ @sum.sumprice</span></h3>
                                    </div>

                                }

                               
                            }
                           
                            
                          

                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="row order-success-sec">
                            <div class="col-md-12">

                                <div class="delivery-sec">
                                    <h3>expected date of delivery</h3>
                                    <h2>@invoice.DelivryDate</h2>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <hr />
            }
            <div class="final-total">
                <h3>total Quantity <span>@order.qty</span></h3>
            </div>
            <div class="final-total">
                <h3>total Price <span>$ @order.total</span></h3>
            </div>
        }
        }
    </div>
</section>
<!-- Section ends -->